{% extends 'base.html' %}
{% block title %}
    Donations
{% endblock %}
{% block head_extend %}
    {{ super() }}
{% endblock %}
{% block content %}

<div style="margin-top: 70px;" class="center-content">
    {% for donation in donations %}
        <div class="row-info">
            <b>{{ donation.title }}</b><br/>
            <div style="font-size: 12pt;">
                ${{ donation.amountRaised }}<br/>
                Contributed: <b>{{ donation.numberOfVoters }}</b> people
            </div>
        </div>
    {% endfor %}

<p><b><a style="font-size: 14pt; color: #51652a;" href="/createDonation">Create Donation</a></b></p>
</div>

{% endblock %}
