{% extends 'base.html' %}
{% block title %}
    Donations
{% endblock %}
{% block head_extend %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="menu">
    <a href="/donations" class="menu__tag">Donations</a>
    <a href="/donators" class="menu__tag">Contributors</a>
</div>

<div style="margin-top: 100px" class="center-content">Donations</div>
{% for donation in donations %}
    <div class="row-info">
        {{ donation.title }}<br/>
        <div style="font-size: 8pt;">
            {{ donation.amountRaised }}<br/>
            Contributed: <b>{{ donation.numberOfVoters }}</b>
        </div>
    </div>
{% endfor %}

<br/>
<a href="/createDonation">Create Donation</a>

{% endblock %}
