{% extends 'base.html' %}
{% block title %}
New donation
{% endblock %}
{% block content %}
<div style="margin-top: 90px;"></div>
<form method="POST" style="margin: 0 auto; width: 300px;">
    <p><input type="text" name="title" class="width-300 block-input" placeholder="Donation title" required/></p>
    <p><input type="text" name="photo1" class="width-300 block-input" placeholder="URL to photo #1" required/></p>
    <p><input type="text" name="photo2" class="width-300 block-input" placeholder="URL to photo #2" required/></p>
    <p><input type="text" name="photo3" class="width-300 block-input" placeholder="URL to photo #3" required/></p>


    <div class="center-content"><input type="submit" class="nice-button width-150" value="Create" /></div>
</form>
{% endblock %}