{% extends 'base.html' %}
{% block title %}
New donation
{% endblock %}
{% block content %}
<form method="POST">
    <input type="text" name="title" class="width-100p block-input" placeholder="Donation title" required/><br/>
    <input type="text" name="amount" class="width-100p block-input" placeholder="Amount to raise" required/>
    <input type="text" name="photo1" class="width-100p block-input" placeholder="URL to photo #1" required/>
    <input type="text" name="photo2" class="width-100p block-input" placeholder="URL to photo #2" required/>
    <input type="text" name="photo3" class="width-100p block-input" placeholder="URL to photo #3" required/>


    <div class="center-content"><input type="submit" class="nice-button width-150" value="Create" /></div>
</form>
{% endblock %}